<div class="row entry-info">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row content">
        <%= link_to edit_entry_path(@entry) do %>
        <div class="edit-entry"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
        <% end %>
        <h2 class="title"><%= @entry.title %></h2>
        <span class="italic">Posted in <%= @entry.created_at.strftime("%b %d, %Y") %> by <%= link_to @entry.user.name, @entry.user %></span>
        <p class="content"><%= @entry.content %></p>
    </div>
    <div class="row commented">
        <ol id="comments" class="comments">
          <% @all_comments.each do |comment| %>
            <% if comment == @comment %>
              <div class="row form">
                <%= gravatar_for(current_user) %>
                <%= form_for(@comment) do |f| %>
                  <%= f.hidden_field :entry_id, value: @entry.id %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.text_field :content, placeholder: "Leave a comment..." %>
                <% end %>
              </div>
            <% else %>
              <%= render comment %>
            <% end %>
          <% end %>
        </ol>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
