<% @user ||= current_user %>
<div class="stats">
  <a>
    ENTRIES
    <strong id="entries" class="stat">
      <%= @user.entries.count %>
    </strong>
  </a>
  <a href="<%= following_user_path(@user) %>">
    FOLLOWING
    <strong id="following" class="stat">
      <%= @user.following.count %> |
      <%= Relationship.where("followed_id = ?", @user.id).count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    FOLLOWERS
    <strong id="followers" class="stat">
      <%= @user.followers.count %> |
      <%= Relationship.where("follower_id = ?", @user.id).count %>
    </strong>
  </a>
</div>
